/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;900&family=Stick&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

h1 {
  font-family: "Stick", sans-serif;
  opacity: 0.6;
  letter-spacing: 2rem;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
  */
/* header */

nav {
  background-color: #383838;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

nav a {
  color: #fff !important;
}

nav a:hover {
  color: red !important;
}

nav .navbar-brand {
  font-family: "Stick", sans-serif;
}

nav .navbar-brand:hover {
  color: #fff !important;
}

nav li {
  margin-right: 20px;
  list-style-type: none;
}

nav .list-right {
  position: absolute;
  right: 0;
}

nav .btn-header:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.heading-img {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(55, 221, 5, 0.7)),
      to(rgba(19, 18, 18, 0.8))
    ),
    url(assets/soccer-goal-football-green-grass-field.jpg) center center/cover
      no-repeat;
  background: linear-gradient(rgba(55, 221, 5, 0.7), rgba(19, 18, 18, 0.8)),
    url(assets/soccer-goal-football-green-grass-field.jpg) center center/cover
      no-repeat;
  height: 300px;
}

@media (max-width: 1085px) {
  .heading-img {
    height: 80vh;
  }
}

.heading-bottom {
  margin: auto;
  width: 60%;
}

.hot-ads {
  background-color: whitesmoke;
}

.categories .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .categories .row {
    text-align: center;
  }
}

.categories .row .item {
  background-color: whitesmoke;
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
  margin: 5px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .categories .row .item {
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
  }
}

.categories .row .item .price {
  color: #d35266;
}

.categories .row .item .item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.categories .span-text {
  text-transform: lowercase;
}

.categories .lead {
  font-size: 0.7rem;
}

.search {
  background-color: whitesmoke;
}

.search .clicked {
  background-color: #fff;
}

.search .col-sm-3 {
  padding: 20px 20px 20px 80px;
  font-size: 14px;
  border-right: 1px solid gray;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-3 {
    padding-left: 20px;
    text-align: center;
  }
}

.search .col-sm-3 input {
  margin-right: 5px;
}

.search .col-sm-3 h5 {
  margin-bottom: 0;
  padding-top: 15px;
}

.search .col-sm-3 hr {
  padding: 0;
  margin: 5px 0;
}

.search .col-sm-3 input,
.search .col-sm-3 label {
  padding-bottom: 5px;
}

.search .col-sm-9 .results {
  margin-right: 40px;
  border-right: 1px solid gray;
  padding: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .results {
    margin: 0;
    border: none;
  }
}

.search .col-sm-9 .row {
  margin-right: 40px;
  margin-bottom: 20px;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .row {
    margin-right: 0;
    margin-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid gray;
    border-top: none;
  }
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .row .col-md-8 {
    text-align: center;
  }
}

.search .col-sm-9 .row .col-md-8 .search-heading {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .row .col-md-8 .search-heading {
    font-size: 17px;
  }
}

.search .col-sm-9 .row .col-md-8 p {
  font-size: 13px;
  padding: 0;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .row .col-md-8 p {
    font-size: 11px;
  }
}

.search .col-sm-9 .row .col-md-8 .date-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .search .col-sm-9 .row .col-md-8 .date-cost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.search .col-sm-9 .row .col-md-8 strong {
  font-weight: bold;
}

footer {
  background-color: #383838;
}

footer hr {
  height: 10px;
  background-color: black;
  width: 60%;
  margin: 10px auto;
  border: none;
}

footer a:hover {
  color: green;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */
