/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
  */

// Variables
$header-black: #383838;

//

/* header */

nav {
  background-color: $header-black;
  font-family: "Open Sans", sans-serif;
  a {
    color: #fff !important;
    &:hover {
      color: red !important;
    }
  }
  .navbar-brand {
    font-weight: 900;
    &:hover {
      color: #fff !important;
    }
  }

  li {
    margin-right: 20px;
    list-style-type: none;
  }
  .list-right {
    position: absolute;
    right: 40px;
  }
}

// heading
.heading-img {
  background: linear-gradient(rgba(55, 221, 5, 0.7), rgba(19, 18, 18, 0.8)),
    url(assets/soccer-goal-football-green-grass-field.jpg) center center/cover
      no-repeat;
  height: 50vh;
}

.heading-bottom {
  margin: auto;
  width: 60%;
}
