/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;900&family=Stick&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

h1 {
  font-family: "Stick", sans-serif;
  opacity: 0.6;
  letter-spacing: 2rem;
}

/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
  */

// Variables
$header-black: #383838;
$price: #d35266;

//

/* header */

nav {
  background-color: $header-black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  a {
    color: #fff !important;
    &:hover {
      color: red !important;
    }
  }
  .navbar-brand {
    font-family: "Stick", sans-serif;
    &:hover {
      color: #fff !important;
    }
  }

  li {
    margin-right: 20px;
    list-style-type: none;
  }
  .list-right {
    position: absolute;
    right: 0px;
  }
  .btn-header:hover {
    transform: scale(1.06);
    transition: 0.5s ease-in;
  }
}

// heading
.heading-img {
  background: linear-gradient(rgba(55, 221, 5, 0.7), rgba(19, 18, 18, 0.8)),
    url(assets/soccer-goal-football-green-grass-field.jpg) center center/cover
      no-repeat;
  height: 300px;
  @media (max-width: 1085px) {
    height: 80vh;
  }
}

.heading-bottom {
  margin: auto;
  width: 60%;
}

// hot ads
.hot-ads {
  background-color: whitesmoke;
}

// categories
.categories {
  .row {
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
    .item {
      background-color: whitesmoke;
      flex-basis: 21%;
      margin: 5px;
      padding: 10px;
      @media only screen and (max-width: 768px) {
        flex-basis: 46%;
      }

      .price {
        color: $price;
      }

      .item-bottom {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .span-text {
    text-transform: lowercase;
  }
  .lead {
    font-size: 0.7rem;
  }
}

// footer
footer {
  background-color: $header-black;

  hr {
    height: 10px;
    background-color: black;
    width: 60%;
    margin: 10px auto;
    border: none;
  }
}

// media query
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
